spring:
  data:
    mongodb:
      uri: ${MONGO_URI}
      database: fitness_activity
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}

server:
  port: ${PORT:8080}

services:
  user-service-url: ${USER_SERVICE_URL}

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking